@model PictureViewModel

@{
    ViewData["Title"] = @Model.AlbumName;
    ViewData["Link"] = @Url.Action("View", "Album", new { id = Model.AlbumId });
}

<div style="text-align: center">
    @Html.ActionLink("Previous", "Previous", new {id = Model.Id}, new {id = "previousLink"})
    &nbsp;&nbsp;|&nbsp;&nbsp;
    @Html.ActionLink("Next", "Next", new {id = Model.Id}, new {id = "nextLink"})
</div>
<br />

<img src="~/pictures/view/@Model.AlbumName/@Model.FileName" type="Full" style='width:100%;' border="0" alt="Null"/>

<div style="text-align: left">
    <span>@Model.DateTaken.ToLongDateString()</span>
</div>

<div style="text-align: right">
    <a href="~/pictures/master/@Model.AlbumName/@Model.FileName" target="_blank">View Original</a>
</div>

@section scripts{
    <script language="javascript">
        function leftArrowPressed() {
            $('#previousLink')[0].click();
        }

        function rightArrowPressed() {
            $('#nextLink')[0].click();
        }

        document.onkeydown = function(evt) {
            evt = evt || window.event;
            switch (evt.keyCode) {
            case 37:
                leftArrowPressed();
                break;
            case 39:
                rightArrowPressed();
                break;
            }
        };
    </script>
}

@section head {
}