@model PictureViewModel

@{
    ViewData["Title"] = @Model.DirectoryName;
}

@{ var monthNames = new []{"January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"};}

<a href="@Url.Action("Month", "Home", new {year = Model.DateTaken.Year, month = Model.DateTaken.Month}, null)">@monthNames[Model.DateTaken.Month - 1], @Model.DateTaken.Year</a>

<div style="text-align: center">
    @Html.ActionLink("Previous", "Previous", new {id = Model.Id}, new {id = "previousLink"})
    &nbsp;&nbsp;|&nbsp;&nbsp;
    @Html.ActionLink("Next", "Next", new {id = Model.Id}, new {id = "nextLink"})
</div>
<br />

<img src="~/pictures/view/@Model.DirectoryName/@Model.FileName" type="Full" style='width:100%;' border="0" alt="Null"/>

<div style="text-align: left">
    <span>@Model.DateTaken.ToLongDateString()</span>
</div>

<div style="text-align: left">
    <a href="~/pictures/master/@Model.DirectoryName/@Model.FileName" target="_blank">View Original</a>
</div>

@section scripts{
    <script language="javascript">
        function leftArrowPressed() {
            $('#previousLink')[0].click();
        }

        function rightArrowPressed() {
            $('#nextLink')[0].click();
        }

        document.onkeydown = function(evt) {
            evt = evt || window.event;
            switch (evt.keyCode) {
            case 37:
                leftArrowPressed();
                break;
            case 39:
                rightArrowPressed();
                break;
            }
        };
    </script>
}

@section head {
}