@model IEnumerable<IndexViewModel>

@{
    ViewData["Title"] = "Albums";
}

<table class="table">
    <tbody>
    @foreach (var album in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("View", "Album", new {id = album.Id}, null)">
                    @*                    <figure>*@
                    @*                        <img src="~/images/thumbnail/@album.Name/@album.ThumbnailFileName" alt="@album.Name" />*@
                    @*                        <figcaption>@album.Name [@album.Pictures.Count()]</figcaption>*@
                    @*                    </figure>*@
                    @album.Name
                </a>
            </td>
            <td>
                @album.PictureCount
            </td>
        </tr>
    }
    </tbody>
</table>